
body{font: 120% sans-serif; 
 background: #ececec;

 }

 h2 {font-size: calc(0.8em + 1vw);}
 h3 {font-size: calc(0.7em + 1vw);}
 /*p {font-size: calc(0.9em + 1vw); }*/

/*body, h1, h2,p,ul,li,a{ 
  /*margin: 0px;
  padding: 0px;*
}*/

ul{
  list-style: none;

}
a{
  text-decoration: none;
}

p {font-size: calc(50em + 1.0v);
  /*font-size: 100%;*/
	/*font-family: verdana;*/
	margin: auto;
	text-align:left; ;
white-space: wrap;
}
/*pre { overflow: auto; display: inline-block; width: auto; height: auto; font-size: 20px; background-color:yellow;  border: dotted; }*/
pre {
  white-space: pre-line;
  word-wrap: break-word;
  text-align: left;
  font-size: calc(1.0em + 1.0vw);
   background-color:#FFFF08; 
    border: dotted;
    white-space: wrap;
}
 h1{text-align: center; width: 100%; height: 100px;  background-color: #FFFF08 ;font-size: calc(1.0em  + 1vw);}
 h2, h3, h4{background-color: silver; }
ol, ul,li {font-size: calc(50em + 1.0v); }

.corfundo{ background: #111111; padding-top: 25px;}

.corfundo2{ background: #FFFF08; }

.circulo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  float: left;
  margin: 15px;
  transition: 0.3s ease;
}

.circulo:hover{
  transform: rotateY(180deg);
}

.circulo-pequeno {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin: 10px;
  float: left;
  animation: circulo 1s linear infinite;
  
}

.circulo-pequeno.lime {
  animation: circulo-inverno 1s linear infinite;
}

@keyframes circulo {
  from {
    transform: rotate(0deg) translateX(30px);
  } to {
    transform: rotate(360deg) translateX(30px);
  }
}

@keyframes circulo-inverno {
  from {
    transform: rotate(0deg) translateX(30px);
  } to {
    transform: rotate(-360deg) translateX(30px);
  }
}

img {
  display: block;
  max-width: 100%;
}

.lime {
  background: springgreen;
}

.tomato {
  background: tomato;
}

.container {
  max-width: 420px;
  margin: 20px auto;
  margin-top: 100px; 
}

.container::after, .container::before {
  content: '';
  display: table;
  clear: both;
}



.rodape {
margin-top: 200px;
 /* margin: 40px;*/
  background: #FFFF08;
}
.rodape p { font-style: italic; font-size:15px; text-align: center}
.rodape img { margin: auto;}


/**/

 
  /*.f-nav{ z-index: 7777; position: fixed; left: 0; top: 0; width: 100%;}*/
#tudo {
	width:98%;
	padding:0 1% 5% 1%;
	max-width:1100px;
	min-width:740px;
	
	margin:0 auto;
	background:#fff;
	border:1px dotted #999;
	}
p.nav-arq {
	display:block; 
	/*font-style:normal; */
	margin:30px 0; 
	border-top:1px dotted #ccc;
	padding-top:5px;
	}
	table {
  border-collapse: collapse;
}

table, td, th {
  border: 1px solid black;

}

#DivLateral{
    position:relative;
    border-width:2px;
    width:300px;
    height: 300px;
    background-color: gray;
    float: left;
    margin: auto;

}
#DivInterna {
	width:150px; height:150px ;
	 background-color: white; 
	 margin:auto;
	
  

}
#DivA{
    position: relative;
    border-width:2px;
    width:200px;
    height: 100px;
    left:0px;
    background-color:white ;
    float: left;
   border-style: solid;
}
.divcanvas{
  position:relative;
  float:bottom;
 
}
  .divcanvas p{margin-left:300px;}

 #myCanvas{
  
 margin-left: 300px;
}
.divretangulo { position:relative;
  margin-left: 300px;}
.divretangulo div{
/*display: inline-block;*/

width:250px; 
  height:270px; 

}
.divretangulo p{margin-left: 300px;}
/*.divlinha{

}*/

/*i {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 5px;
}*/



.tabverdade {
   /* position: relative;*/
  /* padding-right: 20px;*/
    width:350px;
   
   
  float: left;
}
.tabverdade1 {
   /* position: relative;*/
  /* padding-right: 20px;*/
    width:350px;
   
   
  float: left;
}
.tabverdade2{
    position: relative;
   /*padding: 20px;*/
  /*  width:50px;*/
   
   
/* float: left;*/
}
#subir {
  content: "";
 /* display: inline-block;
  vertical-align: middle;*/
  position:fixed;
  bottom:10px;
  right:10px;
  /*margin-right: 10px;*/
  /*width: 0; 
  height: 0; */

  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 15px solid black;
}
.text{font-size: 12px;}

/* tabelas*/

.w3-table,.w3-table-all{border-collapse:collapse;border-spacing:0;width:100%;display:table}.w3-table-all{border:1px solid #ccc}
.w3-bordered tr,.w3-table-all tr{border-bottom:1px solid #ddd}.w3-striped tbody tr:nth-child(even){background-color:#f1f1f1}
.w3-table-all tr:nth-child(odd){background-color:#fff}.w3-table-all tr:nth-child(even){background-color:#f1f1f1}
.w3-hoverable tbody tr:hover,.w3-ul.w3-hoverable li:hover{background-color:#ccc}.w3-centered tr th,.w3-centered tr td{text-align:center}
.w3-table td,.w3-table th,.w3-table-all td,.w3-table-all th{padding:8px 8px;display:table-cell;text-align:left;vertical-align:top}
.w3-table th:first-child,.w3-table td:first-child,.w3-table-all th:first-child,.w3-table-all td:first-child{padding-left:16px}
.w3-theme {color:#111111 !important; background-color:#111111 !important}
.w3-themedrop {color:#fff !important; background-color:#FFFF08 !important}

/** Fluxograma*/
.setas-col{
    list-style: none;
    display: flex;
    width: 90%;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 5px;
}


.setas .setas-item {
    position: relative;
    height: 60px;
    width: 150px;
    margin: 10px;
    background-color: #ffff08;

}

.setas-item-text{
    padding: 10px;
    margin: 5px;
    background-color: #000;
    color: #000;
}
.setas-item-text .text{
    margin: 5px;
    font-size: 10px;
    /*text-transform: lowercase;*/
}
.setas-col2{
    list-style: none;
    display: flex;
    width: 75%;
    align-items: left;
    justify-content: center;
    flex-wrap: wrap;
    margin: 5px;
}


.setas2 .setas-item2 {
    position:relative;
    height: 60px;
    width: 175px;
    margin-left: 400px;
    background-color: #ffff08;
 }

.setas-item-text2 {
    padding: 15px;
    margin: 5px;
    background-color: #000;
    color: #000;
}
.setas-item-text2 .text2{
    margin: 5px;
    font-size: 8.5px;
    /*text-transform: lowercase;*/
}


.setas-pseudo-absolute2 .seta_top2:before {
    content: "";
    position: absolute;
    top: -30px; /* 2x o tamanho da seta*/
    left: 130px;
    border: 15px solid transparent; /* Tamanho da seta */
    border-bottom-color: #00ff2d; /* Cor e lado da seta */
    transform: translate(50%, 0);
}
/****************************/
/* CENTRALIZADO COM ABSOLUTE*/
/****************************/

/* Seta que aponta para cima*/
.setas-pseudo-absolute .seta_top:before {
    content: "";
    position: absolute;
    top: -30px; /* 2x o tamanho da seta*/
    left: 0;
    border: 15px solid transparent; /* Tamanho da seta */
    border-bottom-color: #00ff2d; /* Cor e lado da seta */
    transform: translate(50%, 0);
}

/* Seta que aponta para baixo*/
.setas-pseudo-absolute .seta_bottom:after {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    border: 15px solid transparent; /* Tamanho da seta */
    border-top-color: #00ff2d; /* Cor e lado da seta */
    transform: translate(50%, 0);
}

/* Seta que aponta para esquerda*/
.setas-pseudo-absolute .seta_left:before {
    content: "";
    position: absolute;
    top: 0;
    left: -30px; /* 2x o tamanho da seta*/
    border: 15px solid transparent; /* Tamanho da seta */
    border-right-color: #00ff2d; /* Cor e lado da seta */
    transform: translate(0, 50%);
}

/* Seta que aponta para direita*/
.setas-pseudo-absolute .seta_right:after {
    content: "";
    position: absolute;
    top: 0;
    left: 100%; /* mesmo efeito de right: -30px; */
    border: 15px solid transparent; /* Tamanho da seta */
    border-left-color: #00ff2d; /* Cor e lado da seta */
    transform: translate(0, 50%);
}





.setas-r .text-r  {
   display: none;

}
.setas-r1 .text-r1 {
  display: none ;

}

@media (min-width: 280px) and (max-width:680px) {
  

.setas-r .setas-item-r {
    position: relative;
    height: 60px;
    width: 150px;
    margin: 10px;
    background-color: #ffff08;

}

  .setas-item-text-r{
    padding: 15px;
    margin: 5px;
    background-color: #000;
    color: #000;
}
.setas-item-text-r .text-r{
    margin: 5px;
    font-size: 8.5px;
    /*text-transform: lowercase;*/
}
.setas-col-r{
    list-style: none;
    display: flex;
    width: 75%;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 15px;
}
  
.setas-pseudo-absolute-r .seta_top-r:before {
    content: "";
    position: absolute;
    top: 65px; /* 2x o tamanho da seta*/
    left: 20px;
    border: 15px solid transparent; /* Tamanho da seta */
    border-bottom-color: #00ff2d; /* Cor e lado da seta */
    transform: translate(10%, 0);
}
.setas-pseudo-absolute-r .seta_left-r:before {
    content: "";
    position: absolute;
    top: 0;
    left: -30px; /* 2x o tamanho da seta*/
    border: 15px solid transparent; /* Tamanho da seta */
    border-right-color: #00ff2d; /* Cor e lado da seta */
    transform: translate(0, 50%);
}

.setas-pseudo-absolute-r1 .seta_left-r1:before {
    content: "";
    position: absolute;
    top: 0;
    left: -30px; /* 2x o tamanho da seta*/
    border: 15px solid transparent; /* Tamanho da seta */
    border-right-color: #00ff2d; /* Cor e lado da seta */
    transform: translate(550%, 50%);
}
.setas-col2{
    list-style: none;
    display: flex;
    width: 65%;
    align-items: left;
    justify-content: center;
    flex-wrap: wrap;
    margin: 5px;
}


.setas2 .setas-item2 {
    position:relative;
    height: 60px;
    width: 165px;
    margin-left: auto;
    background-color: #ffff08;


}
.setas-item-text2{
    padding: 15px;
    margin: 5px;
    background-color: #000;
    color: #000;
}
.setas-item-text2 .text2{
    margin: 5px;
    font-size: 8.5px;
    /*text-transform: lowercase;*/
}


.setas-pseudo-absolute2 .seta_top2:before {
    content: "";
    position: absolute;
    top: -30px; /* 2x o tamanho da seta*/
    left:55px;
    border: 15px solid transparent; /* Tamanho da seta */
    border-bottom-color: #00ff2d; /* Cor e lado da seta */
    transform: translate(50%, 0);
}

.setas-r1 .setas-item-r1 {
    position: relative;
    height: 60px;
    width: 150px;
    margin: 10px;
    background-color: #ffff08;

}
.setas-pseudo-absolute-r1 .seta_top-r1:before {
    content: "";
    position: absolute;
    top: -30px; /* 2x o tamanho da seta*/
    left: 20px;
    border: 15px solid transparent; /* Tamanho da seta */
    border-bottom-color: #00ff2d; /* Cor e lado da seta */
    transform: translate(20%, 0);
}

.setas-r .text-r{
  display: block !important;
}


.setas {
  display: none ;

}

/*<div class="setas2">
       <ul class="setas-col2 setas-pseudo-absolute2">
        <li class="setas-item2 setas-item-text2 seta_top2"> <span class="text2">*/
}

@media  (min-width: 681px)(max-width: 1140px) {
  

  .divcanvas p{margin:auto;}
   #myCanvas{ margin:auto; }
.divretangulo { position:relative;
  margin: auto;}
 

.divretangulo p{margin:auto;}



.setas-col{
    list-style: none;
    display: flex;
    width: 65%;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 5px;

}


.setas .setas-item {
    position: relative;
    height: 60px;
    width: 125px;
    margin: 5px;
    background-color: #ffff08;

}

.setas-item-text{
    padding: 15px;
    margin: 5px;
    background-color: #000;
    color: #000;
}
.setas-item-text .text{
    margin: 5px;
    font-size: 8.5px;
    /*text-transform: lowercase;*/
}

.setas-pseudo-absolute .seta_left:before {
     content: "";
    position: absolute;
    top: -30px; /* 2x o tamanho da seta*/
    left:50px;
    border: 15px solid transparent; /* Tamanho da seta */
    border-bottom-color: #00ff2d; /* Cor e lado da seta */
    transform: translate(50%, 0);

}
.setas-pseudo-absolute .seta_top:before {
    content: "";
    position: absolute;
    top: -30px; /* 2x o tamanho da seta*/
    left: 10px;
    border: 15px solid transparent; /* Tamanho da seta */
    border-bottom-color: #00ff2d; /* Cor e lado da seta */
    transform: translate(50%, 0);
}






}


 /** .topnav {
  overflow: hidden;
  background-color: #333;
 /* position: relative;*/
/* /float: bottom;
 /* color: white;
  padding: 4px 6px;
  text-decoration: none;
  font-size: 16px;

}
*/
