<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation=" http://www.springframework.org/schema/beans
     http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->
<bean id="carro" class="com.alpi.desacoplar.Carro"/>
<bean id="bike" class="com.alpi.desacoplar.Bike"/>
<bean id="veiculoService" class="com.alpi.desacoplar.VeiculoService">
<property name="veiculo">
<ref bean="bike"/>
</property>
</bean>
</beans>